@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

:root{
    --shadow: 0 8px 12px -2px rgb(0, 0, 0), 
                0 4px 8px -2px rgb(0, 0, 0);
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(25, 25, 30);
}

/* Lobby Styling */

#logo{
    display: block;
    width: 100px;
    margin: 0 auto;
}

#form-container{
    width: 400px;
    box-shadow: var(--shadow);
    background-color: rgb(15, 15, 20);
    padding: 30px;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#welcome-message{
    color:#fff;
    text-align: center;
    margin: 20px;
}

#welcome-message h1{
    font-size: 36px;
}
#welcome-message p{
    font-size: 16px;
}

.form-field{
    margin: 20px;
}

.form-field label{
    font-size: 16px;
    line-height: 1.7em;
}

.form-field input{
    width: 100%;
    border: 2px solid rgb(169, 169, 169);
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.form-field input[type='submit']{
    background-color: rgb(81,255,213);
    border: none;
    color:rgb(0, 0, 0);
    font-weight: bold;
    font-size: 16px;
}

@media screen and (max-width:450px){
    #form-container{
        width: 95%;
    }
    #welcome-message h1{
        font-size: 24px;
    }
}


/* Room Styling */

#room-name-wrapper{
    text-align: center;
    font-size: 18px;
    color: #fff;
}

#video-streams{
    display: flex;
    flex-wrap: wrap;
    height: 77vh;
    width: 75%;
    margin: 0 auto;
}

.video-container {
    flex-basis: 500px;
    flex-grow: 1;
    max-height: 100%;
    min-height: 350px;
    border: 1px solid rgb(81,255,213);
    border-radius: 5px;
    margin: 2px;
    background-color: rgba(198, 202, 219, 1);
    position: relative;
}

.video-player{
    height: 100%;
    width: 100%;
}

.video-player > *{
    border-radius: 5px;
}

.username-wrapper{
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
}

@media screen and (max-width: 1650px) {
    .video-container{
        flex-basis: 300px;
        min-height: 200px;
    }
}

/* ---- Room Styling : Controls ---- */

#controls-wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: 1em;
    position: fixed;
    bottom: 20px;
}


.control-icon{
    height: 20px;
    width: 20px;
    box-shadow: var(--shadow);
    background-color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

#leave-btn{
    background-color: rgba(255, 80, 80, 1);
}



