{% extends 'base/main.html' %}
{% load static %}
{% block content %}

<main>
    <section id="room-name-wrapper">
        <h3>Room Name: <span id="room-name"></span></h3>
    </section>
    
    <section id="video-streams"></section>

    <section id="controls-wrapper">
        <div class="icon-wrapper">
            <img id="mic-btn" class="control-icon" src="{% static 'images/mic.svg' %}" />
        </div>

        <div class="icon-wrapper">
            <img id="camera-btn" class="control-icon" src="{% static 'images/video.svg' %}" />
        </div>

        <div class="icon-wrapper">
            <img id="leave-btn" class="control-icon" src="{% static 'images/leave.png' %}" />
        </div>
    </section>
</main>
<script type="text/javascript" src="{% static 'assets/AgoraRTC4.12.js' %}"></script>
<script type="text/javascript" src="{% static 'js/streams.js' %}"></script>

{% endblock content %}